/* global variables starts */
:root {
  --border-radius: 6px;
  --main-background-color: #323843;
  --section-background-color: #0b0c0f;
  ;
  --main-color: #1ce783;
  --main-transition: .5s
}

/* global variables ends */

.landing {
  height: calc(100vh - 100px);
  background-image: url('../assets/background_1.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

/* header starts */
.header .container {
  padding: 20px;
  position: relative;
}

.header .logo img {
  height: 61px;
  width: 61px;
}

.header .menu div a {
  color: white;
}

.header .menu div {
  padding: 10px;
  transition: var(--main-transition);
  color: white;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.header .menu div.log-in {
  opacity: .5
}

.header .menu div.log-in:hover {
  opacity: 1;
  background-color: var(--main-background-color);
}

.header .menu div.get-all-three {
  display: none;
  background-color: black;
}

.header .nav .bars {
  display: none;
}

@media (max-width:992px) {
  .header .nav .bars {
    display: block;
    padding: 12px 16px;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    position: relative;
    cursor: pointer;
  }

  .header .nav .bars:before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    top: 100%;
    left: 15px;
    transition: var(--main-transition);
  }

  .header .nav:hover .bars:before {
    border-color: var(--main-background-color) transparent transparent transparent;

  }

  .header .nav .bars .holder {
    height: 20px;
  }

  .header .nav .bars span {
    width: 20px;
    height: 2px;
    background-color: white;
    display: block;
    margin-bottom: 6px;
  }

  .header .nav .menu {
    display: none;
  }

  .header .nav:hover .menu {
    display: block;
    position: absolute;
    top: 87%;
    right: 20px;
    background-color: var(--main-background-color);
    padding: 5px;
    text-align: center;
    width: 256px;
    border-radius: var(--border-radius);
  }

  .header .nav .menu div.get-all-three {
    display: block;
  }

  .header .menu div.log-in {
    margin-bottom: 5px;
  }

  .header .menu div.log-in:hover {
    opacity: 1;
    background-color: #ffffff33;

  }
}

/* header ends */
/* bundles-section starts */
.bundles-section {
  height: calc(100vh - 184px);
  text-align: center;
  color: var(--main-color);
  flex-direction: column;
}

.bundles-container .plan-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

.bundles-container .image-container img {
  height: 60px;
}

.bundles-container .price {
  color: white;
  font-size: 26px;
  font-weight: bold;
  max-width: 300px;
}

.bundles-container button {
  display: block;
  width: 80%;
  min-width: 300px;
  margin: auto;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  margin: auto;
  padding: 10px;
  font-weight: bold;
  transition: var(--main-transition);
  cursor: pointer;
}

.bundles-section button:hover {
  opacity: .5
}

.bundles-section .links-container {
  width: fit-content;
  margin: 15px auto;
}

.bundles-section .links-container a {
  text-decoration: underline;
  color: white;
  display: block;
  width: fit-content;
  margin: 0px auto 35px;
  transition: var(--main-transition);
}

.bundles-container p.price {
  margin-bottom: 10px;
}

.bundles-section .links-container a:last-child:hover {
  opacity: .5
}

@media (min-width:992px) {
  .bundles-container {
    gap: 40px;
  }
}

@media (max-width:992px) {
  .landing .bundles-container {
    flex-direction: column;
    align-items: center;
  }
}

/* bundles-section ends */

/* series collection starts */
.series-collection-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--section-background-color);
}



.series-collection-section .content {
  text-align: center;
}

.series-collection-section h1,
.plans-section h1 {
  color: white;
  margin: 20px auto;
  font-size: 48px;
}

.series-collection-section .content p {
  color: white;
  max-width: 800px;
  margin: auto;
  font-size: 18px;
}

.series-collection-section .content p.green {
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.series-collection-section .content p:first-child {
  color: var(--main-color)
}

.series-collections {
  flex-wrap: wrap;
  margin: 40px auto 100px;
  padding: 20px;
}

@media (max-width:767px) {
  .series-collection-section .series-collections {
    justify-content: center;
  }

  .collection {
    flex-basis: calc(98%);
  }
}

@media (min-width:767px) and (max-width:1200px) {
  .collection {
    flex-basis: calc(98% / 2);
  }

}

@media (min-width:1200px) {
  .collection {
    flex-basis: calc(98% / 4);
  }
}


.series-collections .image-container {
  width: 100%;
  height: 100%;
}

.series-collections>div {
  border-radius: 10px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  transition: .1s;
  cursor: pointer;
  border: 6px solid transparent;
  opacity: .7
}

.series-collections>div:hover {
  outline: 4px solid #797d84;
}

.series-collections>div:hover .image-container {
  opacity: .4
}

.series-collections>div .description {
  position: absolute;
  z-index: 3;
  padding: 20px;
  top: 0;
  left: 0;
}

.series-collections>div .description p {
  color: white;
  font-weight: bold
}

.series-collection-section>div .description p:last-child {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}

.series-collection-footer {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.series-collection-footer button {
  display: block;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  font-weight: bold;
  width: fit-content;
  margin: auto;
  padding: 15px 20px;
  cursor: pointer
}

.series-collection-footer p {
  margin: 20px auto;
  max-width: 800px;
  line-height: normal;
  color: hsla(0, 0%, 100%, .6);
  font-size: 12px;
}

.series-collection-footer p a {
  font-size: 12px;
  color: hsla(0, 0%, 100%, .6);
}

.series-collection-footer a {
  color: #fff;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width:992px) {

  .series-collection-section,
  p {
    color: white;
    margin: auto;
    font-size: 32px;
  }

  .series-collection-section p {
    font-size: 16px;
  }
}

/* series collection ends */
/* live sports section starts */
.live-sports {
  height: 100vh;
  background-image: url('../assets/live-sports.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.live-sports::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000003b;
  width: 100%;
  height: 100%;
}

@media (max-width:776px) {
  .live-sports {
    background-position: unset
  }
}

.live-sports .container {
  height: 100%;
  z-index: 5;
  position: relative;
}

.live-sports .links-container .link {
  padding: 15px 0;
  position: relative;
  font-weight: bold;
  color: white;
  width: fit-content;
  margin: 0 25px 0 0;
  cursor: pointer;
  transition: .3s
}

.live-sports .links-container .link:hover {
  color: #ffffff9c;
}

.live-sports .links-container .link:not(.active) {
  opacity: .5
}

.live-sports .links-container .active::before {
  content: '';
  position: absolute;
  width: calc(100%);
  height: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
}

.live-sports .box {
  max-width: 500px;
}

.live-sports .box .info {
  margin: 45px auto 0px;
  color: white;
}

.live-sports .box h1.title {
  font-size: 42px;
}

.live-sports .box .info p:not(:last-child) {
  line-height: normal;
  font-size: 20px;
  margin: 20px auto;
}

.live-sports .icons {
  justify-content: flex-start;
  gap: 20px;
}

.live-sports .icon-holder {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
}

.live-sports .box .info p:last-child {
  font-size: 11px;
  line-height: normal;
  margin: 20px auto;
  color: hsla(0, 0%, 100%, .6);
}

.live-sports .box .info p:last-child a {
  color: inherit;
  text-decoration: underline;
}

@media (max-width:767px) {
  .live-sports .links-container .link {
    font-size: 12px;
    margin-right: 0;
  }

  .live-sports .container {
    justify-content: center;
  }

  .live-sports .box {
    text-align: center;
  }

  .live-sports .box h1.title {
    font-size: 32px;
  }

  .live-sports .box .info p {
    font-size: 18px;
  }

  .live-sports .icons {
    justify-content: center;
  }
}

/* live sports section ends */

/* plans section starts */
.plans-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--section-background-color)
}

.plans-section h1,
.plans-section p {
  text-align: center;
  color: white
}

.plans-section p {
  max-width: 600px;
  font-size: 20px;
  margin: 0 auto 10px;
  line-height: normal;
}

.plans-section .top-box {
  padding: 20px;
  flex-wrap: wrap;
  border-top: 1px solid white;
  top: 0;
  background-color: var(--section-background-color);
}

.plans-section .top-box>div h5 {
  color: black;
  padding: 10px 0px;
  width: fit-content;
  margin: 20px auto;
  height: 35px
}

.plans-section .top-box>div h5.most-popular {
  background-color: var(--main-color);
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 12px;
}

.plans-section .top-box>div .price {
  background-color: white;
  padding: 15px 20px;
  text-align: center;
  max-width: 247px;
  margin: auto;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--main-transition);
}

.plans-section .top-box>div .price:hover {
  background-color: #ffffff8c
}

.plans-section .base-bundle {
  color: white;
  text-align: center;
  gap: 10px;
}

.plans-section h3 {
  font-size: 15px;
  font-weight: 500;
}

.plans-section .num-days {
  max-width: 300px;
  font-size: 15px;
  margin: 0 auto;
  line-height: normal;
  color: #bec0c2
}

.plans-section .base-plans .image-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plans-section .base-plans .image-container img {
  height: 15px;
}

.plans-section .base-bundle img {
  width: 161px;
}

.plans-section .toggler {
  min-width: 55px;
  height: 30px;
  background-color: #424957;
  position: relative;
  border-radius: 16px;
  cursor: pointer;
  margin-top: -20px;
}

.plans-section .toggler:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  top: 0;
  left: 0;
  border-radius: 50%;

}

@media (min-width:992px) {
  .plans-section .top-box>div {
    flex-basis: calc(100% / 3);
  }
}

@media (max-width:992px) {
  .plans-section .top-box {
    border-width: 0px;
  }

  .plans-section .toggler {
    margin-top: 0px;
  }

  .plans-section .top-box .base-bundle {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-top: 10px;

  }

  .top-box .with-ads,
  .top-box .no-ads {
    width: 50%;
    padding: 20px;
  }

  .top-box .with-ads p:not(.num-days),
  .top-box .no-ads p:not(.num-days) {
    font-size: 17px;
  }

  .top-box .with-ads {
    border-right: 1px solid white;
  }

  .plans-section .top-box>div:last-child {
    border-left-color: white;
  }

  .plans-section .top-box>div .price {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width:767px) {

  .series-collection-section h1,
  .plans-section h1,
  .plans-section .container h1 {
    font-size: 32px;
  }

  .plans-section .num-days {
    font-size: 12px;
  }

  .plans-section .top-box>div .price {
    font-size: 10px;
  }
}

.plans-container .plan {
  color: white;
  padding: 25px 0;
  border-bottom: 1px solid white;
  text-align: center;
  flex-wrap: wrap;
}

.plans-container>div:nth-of-type(2) {
  border-top: 1px solid white;
}

.plans-container .txt p {
  text-align: left;
  font-size: 11px;
  max-width: 350px;
  margin: 0
}

.plans-container .plan>div {
  width: calc(100% / 3);
  font-size: 15px;
}

.plans-container .plan>div:first-child {
  text-align: left;
}

.plans-container .show img {
  cursor: pointer;
}

@media (max-width:992px) {
  .plans-container .plan>div.left {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .plans-container .plan>div.center {
    border-right: 1px solid white
  }

  .plans-container .plan>div.center,
  .plans-container .plan>div.right {
    width: 50%;
  }
}

/* plans section ends */

/* footer section starts */
.footer {
  padding-top: 60px;
  background-color: #e8eaed;
}

.footer .top {
  border-bottom: 1px solid #d9dce2;
  padding-bottom: 60px;
}

.footer .top,
.footer .holder {
  gap: 50px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer .top span {
  display: block;
  padding: 10px 0px;
  font-size: 15px;
  color: #586174;
}

.footer h3 {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #272c34;
  ;
}

.footer .top img {
  display: none;
}

@media (max-width:776px) {
  .footer .holder {
    display: none;
  }

  .footer .top img {
    display: unset;
  }

  .footer .top {
    display: block;
  }

  .footer :where(.browse, .help, .about-us) {
    padding: 32px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #d9dce2;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
}

@media (max-width:992px) {
  .footer .container .top {
    justify-content: flex-start;
  }

  .browse {
    width: 100%;
  }
}

.bottom {
  padding: 40px 0;
}

.bottom .social-media {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
}

.bottom span,
.bottom a {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: 0;
  color: #777
}

.bottom .other-info {
  flex-wrap: wrap;
  gap: 40px;
}

/* footer section ends */